:root{
    --color_header_h2_bordercard_h3: #F5C542;
    --color_button: #D4AF37;
    --color_buttonhover: #B8860B;
    --color_paragraph_write:#E0E0E0;
    --color_background_sec_big:rgba(255, 255, 255, 0.02);
    --color_background_sec_smoll:rgba(255, 255, 255,0.07);
    --color_boxshadow:rgba(245,197,66,0.4);
    --photo_background: url(background.png); 
}
.mainphoto{
  background-image:var(--photo_background);
  background-size: cover;       
  background-position: center;      
  background-attachment: fixed;  

    
/*  
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
 */}


/* تنسيق الهيدر  */
.header{
    color:var(--color_header_h2_bordercard_h3);
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
    letter-spacing: 6px;
    font-size: 2rem;
}
/* العنوان الفرعي */
h2{
    color:var(--color_header_h2_bordercard_h3);
    text-transform: capitalize;
    text-align: center;
    margin-top: 50px;
     font-size: 2.5rem;
     letter-spacing: 4px;
}
/*   تنسيق البراجراف بتاع العنوان الفرعي*/
.prag_one{
    color:var(--color_paragraph_write);
    text-transform: capitalize;
    text-align: center;
    margin-top: 40px;
    font-size: 1rem;
    letter-spacing: 4px;
}
/* تقسيم الgridللالكروت  */
.container{
    
  display: grid;
  grid-template-rows: repeat(2,300px);
  grid-template-columns: 40%;
  gap: 25px;          
  padding: 20px;
  width: 80%; 
  margin: auto;
  justify-content: space-around;      
}
    

/* الكرت الاول */
.card_stone{
  background-image: url(card_1.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color:var(--color_paragraph_write); 

  padding: 20px;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
  border: 2px solid var(--color_header_h2_bordercard_h3);
   opacity: 0; 
  animation: fadeUp 1s ease forwards;
  
}
/* بيعمل طبقة غامقة بين الصورة والالكلام */
.card_stone::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}
/* بيخلي الكلام فوق الصورة والطبقة الغامقة */
.card_stone *{
  position: relative;
  z-index: 1;
}
/* تنسيق الزرار الكرت الاول */
.card_stone button{
  background:var(--color_button);
  border: none;
  padding: 8px 14px;
  color:var(--color_paragraph_write);
  cursor: pointer;
  border-radius: 15px;
  align-content: center;
  transform: translate(60px,0px);
  transition: 0.3s;
}
/* تنسيق عنوان الكارت */
.card_stone h3{
  color:var(--color_header_h2_bordercard_h3);
  letter-spacing: 2px;
}




/* الكرت الثاني  */
.card_egypt{
  background-image: url(card_2.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: var(--color_paragraph_write);

  padding: 20px;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
  border: 2px solid var(--color_header_h2_bordercard_h3);
   opacity: 0;
  animation: fadeUp 2s ease forwards;
}
/* تنسيق عنوان الكارت */
.card_egypt h3{
  color:var(--color_header_h2_bordercard_h3);
  letter-spacing: 2px;
}
.card_egypt *{  
  /* بيخلي الكلام فوق الصورة والطبقة الغامقة */ 
  position: relative;
  z-index: 1;
}
/* تنسيق زرار الكارت الثاني */
.card_egypt button{
  background:var( --color_button);
  border: none;
  padding: 8px 14px;
  color:var(--color_paragraph_write);
  cursor: pointer;
  border-radius: 15px;
  align-content: center;
  transform: translate(60px,10px);
  transition: 0.3s;
}
/* بيعمل طبقة غامقة بين الصورة والالكلام */
.card_egypt::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.2);

}



/* الكرت الثالث  */ 
.card_roman{
  background-image: url(card_3.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: var(--color_paragraph_write);
  padding: 20px;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
  border: 2px solid var(--color_header_h2_bordercard_h3); 
  opacity: 0; 
  animation: fadeUp 3s ease forwards;
}
/* بيعمل طبقة غامقة بين الصورة والالكلام */
.card_roman::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.2);
   
} 
/* بيخلي الكلام فوق الصورة والطبقة الغامقة */
.card_roman *{
  position: relative;
  z-index: 1;
}
/* تنسيق الزرار الكرت الثالث */
.card_roman button{
  background:var(--color_button);
  border: none;
  padding: 8px 14px;
  color:var(--color_paragraph_write);
  cursor: pointer;
  border-radius: 15px;
  align-content: center;
  transform: translate(60px,0px);
  transition: 0.3s;
}
/* تنسيق عنوان الكارت */
.card_roman h3{
  color:var(--color_header_h2_bordercard_h3);
  letter-spacing: 2px;
}




/* الكارت الرابع */
.card_ottoman{ 
  background-image: url(card_4.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color:var(--color_paragraph_write);
  padding: 20px;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
  border: 2px solid var(--color_header_h2_bordercard_h3);
  opacity: 0; 
  animation: fadeUp 4s ease forwards; 
}
/* بيعمل طبقة غامقة بين الصورة والالكلام */
.card_ottoman::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.2);
} 
/* بيخلي الكلام فوق الصورة والطبقة الغامقة */
.card_ottoman *{
  position: relative;
  z-index: 1;
}
/* تنسيق الزرار الكرت الرابع */
.card_ottoman button{
  background:var( --color_button);
  border: none;
  padding: 8px 14px;
 color:var(--color_paragraph_write);
  cursor: pointer;
  border-radius: 15px;
  align-content: center;
  transition: 0.3s;
  transform: translate(60px,0px);
}
/* تنسيق عنوان الكارت */
.card_ottoman h3{
  color:var(--color_header_h2_bordercard_h3);
  letter-spacing: 2px;
}




/* الكارت الخامس */
.card_modern{
  background-image: url(card_5.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: var(--color_paragraph_write);
  padding: 20px;
  border-radius: 15px;
  overflow: hidden;
   margin: 20px 0; 
  border: 2px solid var(--color_header_h2_bordercard_h3); 
   opacity: 0; 
  animation: fadeUp 5s ease forwards;
  transition: 2s;
}
/* بيعمل طبقة غامقة بين الصورة والالكلام */
.card_modern::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.2);
} 
/* بيخلي الكلام فوق الصورة والطبقة الغامقة */
.card_modern *{
  position: relative;
  z-index: 1;
}
/*تنسيق الزرار الكرت الخامس  */
.card_modern button{
  background:var( --color_button);
  border: none;
  padding: 8px 14px;
  color:var(--color_paragraph_write);
  cursor: pointer;
  border-radius: 15px;
  align-content: center;
  transition: 0.3s;
  transform: translate(60px,-20px);
  margin-top: 15px;
}
.card_modern h3{
  color:var(--color_header_h2_bordercard_h3);
  letter-spacing: 2px;
}
/* تنسيق الhover بتاع الزرار */
button:hover{
  padding: 16px 20px;
  border-radius:30px ;
  transform: 3;
  background-color: var(--color_paragraph_write);
  color: var(--color_buttonhover);

}


/* ال section الجوه*/
section{
  display: grid;
  grid-template-rows: repeat(1,100px);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: flex-start;
  gap: 25px;
  background-color:var(--color_background_sec_smoll) ;
  color:var(--color_paragraph_write) ;
  border:2px solid rgb(74, 72, 68);
  max-width: 700px;
  margin: 100px 0px;
  padding: 15px;
  border-radius: 50px;
  font-size: 20px; 
  flex-direction: row-reverse; 
}
/* بتخلي وانت بتسكرول السكرول سهل */
html{
  scroll-behavior:smooth;
}
/* الانيميشن بتاعها */
@keyframes fadeUp{
  from{
    opacity: 0;
    transform: translateY(60px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
/* البره الكبير */
.section{
  display: flex;
  align-items: center;
  gap: 40px;
  background-color:var(--color_background_big);
  border: none; 
  max-width: 1100px;
  margin: 60px;
  padding: 20px;
  color: var(--color_paragraph_write);
  transform: translateX(40px);
  animation: textSlide 4s ease forwards;
  
}
/* الانيميشن بتاع السكشن الكبير */
@keyframes textSlide{
  from{
    opacity: 0;
    transform: translateX(40px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
/* تنسيق الهوفر علي الصورة والسيكش الصغير */
img,section:hover{
  box-shadow: 0 0 30px var(--color_boxshadow);
  transform: translateY(-5px);
  transition: 1s;
}
/* تنسيق الصورة */
img{
  flex: 1;
  height: 100px;
  width: 350px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
  border: none;
  padding: 0px;
}










